################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day_3
/Faculty_Library_TMA03_Q3/Faculty_Library_TMA03_Q3
/EFBasicTutorials
/db
/.vs
/m256/EFBasicTutorials (1)/EFBasicTutorials/EFBasicTutorials/bin/Debug/EFBasicTutorials.exe
/m256/EFBasicTutorials (1)/EFBasicTutorials/EFBasicTutorials/bin/Debug
/m256/EFBasicTutorials (1)/EFBasicTutorials/EFBasicTutorials
/m256/EFBasicTutorials (1)/EFBasicTutorials/.vs/EFBasicTutorials/v15/.suo
/m256/EFBasicTutorials (1)/EFBasicTutorials/.vs/EFBasicTutorials/v15
/m256/EFBasicTutorials (1)/EFBasicTutorials/.vs/EFBasicTutorials/v14/.suo
/m256/EFBasicTutorials (1)/EFBasicTutorials/.vs/EFBasicTutorials/v14
/m256/EFBasicTutorials (1)/EFBasicTutorials/.vs/EFBasicTutorials
/m256/EFBasicTutorials (1)/EFBasicTutorials
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/gui/CompetitionAdminGUI.java
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/gui/CompetitionAdminGUI.form
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/gui
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/competitionadmincore/Photo.java
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/competitionadmincore/Member.java
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/competitionadmincore/CompetitionAdminCoord.java
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/competitionadmincore/Category.java
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/competitionadmincore
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src/.DS_Store
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/src
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/project.xml
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/project.properties
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/private/private.xml
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/private/private.properties
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/private/config.properties
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/private
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/genfiles.properties
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject/build-impl.xml
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/nbproject
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/manifest.mf
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build.xml
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$9.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$8.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$7.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$6.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$5.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$4.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$3.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$2.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui/CompetitionAdminGUI$1.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/gui
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/competitionadmincore/Photo.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/competitionadmincore/Member.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/competitionadmincore/CompetitionAdminCoord.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/competitionadmincore/Category.class
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes/competitionadmincore
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/classes
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build/built-jar.properties
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/build
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1/.DS_Store
/m256/CompetitionAdmin_TMA01_Q1/CompetitionAdmin_TMA01_Q1
/m256
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src/insurancecore/VehicleUser.java
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src/insurancecore/Policy.java
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src/insurancecore/InsuranceCoord.java
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src/insurancecore
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src/insuranceclient/InsuranceClient.java
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src/insuranceclient
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/src
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/project.xml
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/project.properties
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/private/private.xml
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/private/private.properties
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/private/config.properties
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/private
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/genfiles.properties
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject/build-impl.xml
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/nbproject
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/manifest.mf
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/README.TXT
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/lib/m256date.jar
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/lib
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/stylesheet.css
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/resources/titlebar_end.gif
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/resources/titlebar.gif
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/resources/tab.gif
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/resources/background.gif
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/resources
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/package-list
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/overview-tree.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/overview-summary.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/overview-frame.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/VehicleUser.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/Policy.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/package-use.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/package-tree.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/package-summary.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/package-frame.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/InsuranceCoord.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/class-use/VehicleUser.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/class-use/Policy.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/class-use/InsuranceCoord.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore/class-use
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insurancecore
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/package-use.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/package-tree.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/package-summary.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/package-frame.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/InsuranceClient.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/class-use/InsuranceClient.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient/class-use
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/insuranceclient
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-9.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-8.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-7.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-6.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-5.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-4.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-3.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-2.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-11.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-10.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files/index-1.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/index-files
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/help-doc.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/deprecated-list.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/constant-values.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/allclasses-noframe.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc/allclasses-frame.html
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/javadoc
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist/Insurance_TMA02_Q2.jar
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/dist
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build.xml
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/insurancecore/VehicleUser.class
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/insurancecore/Policy.class
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/insurancecore/InsuranceCoord.class
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/insurancecore
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/insuranceclient/InsuranceClient.class
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/insuranceclient
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes/.netbeans_automatic_build
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/classes
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build/built-jar.properties
/Insurance_TMA02_Q2/Insurance_TMA02_Q2/build
/Insurance_TMA02_Q2/Insurance_TMA02_Q2
/ViewBag_and_ViewData/ViewBag and ViewData
/tutorial/EFBasicTutorials
/tma02
/~$sent.docx
/~$orthold_tenant_letter_before_action_failure_to_return_deposit_TD5_sample_letter.docx
/_chat.txt
/_chat.pdf
/_chat (1).pdf
/ViewBag_and_ViewData.zip
/Untitled.png
/tv.xspf
/Transfer-up-Writ-of-Control.pdf
/Thumbs.db
/SQLServerManager13.msc - Shortcut.lnk
/solut.txt
/solicitor.png
/sent.docx
/secondsent.doc
/Sean Parker.doc
/robot.cfg
/RegisterGM686272.pdf
/perfect.cfg
/Nicola Di Lillo.pdf
/Nicola Di Lillo.doc
/n316-eng.pdf
/money-claim-online-user-guide.pdf
/m256_tma03_17b_e11i1_web050344.pdf
/M256_Specimen_Exam_Solutions.pdf
/M256_Specimen_Exam_Paper.pdf
/M256-17B_01.zip
/Housing clinic Jan2017.docx
/gateway.png
/form111.doc
/Faculty_Library_TMA03_Q3.zip
/ex50-eng.pdf
/ex324-eng.pdf
/ex321-eng.pdf
/ex305-eng.pdf
/email.pdf
/Download - collegamento.lnk
/dotnet.doc
/Documenti - collegamento.lnk
/desktop.ini
/Day_3.zip
/clr.png
/claim.txt
/chat.txt
/Assembly is physical grouping of logical units.doc - Shortcut.lnk
/Answer Sheet (2)[2674].doc
/Answer Sheet (2)[2674].doc
